<?xml version="1.0"?>
<config>
    <modules>
        <Receiptful_Core>
            <version>1.0.0</version>
        </Receiptful_Core>
    </modules>
    <global>
        <helpers>
            <receiptful>
                <class>Receiptful_Core_Helper</class>
            </receiptful>
        </helpers>
        <resources>
            <receiptful_setup>
                <setup>
                    <module>Receiptful_Core</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </receiptful_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <receiptful after="Mage_Adminhtml">Receiptful_Core_Adminhtml</receiptful>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <receiptful>
                                            <title>Store Receiptful Module Section</title>
                                        </receiptful>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <Receiptful_Core_Create_Receipt>
                        <type>singleton</type>
                        <class>Receiptful_Core_Model_Observer</class>
                        <method>createReceipt</method>
                    </Receiptful_Core_Create_Receipt>
                </observers>
            </sales_order_invoice_pay>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <Receiptful_Core_Custom_Resend_Button>
                        <type>singleton</type>
                        <class>Receiptful_Core_Model_Observer</class>
                        <method>addCustomResendButton</method>
                    </Receiptful_Core_Custom_Resend_Button>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>
