<?xml version="1.0"?>
<config>
    <modules>
        <Receiptful_Core>
            <version>1.0.0</version>
        </Receiptful_Core>
    </modules>
    <global>
        <helpers>
            <receiptful>
                <class>Receiptful_Core_Helper</class>
            </receiptful>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_invoice_view>Receiptful_Core_Block_Sales_Order_Invoice_View</sales_order_invoice_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <receiptful_setup>
                <setup>
                    <module>Receiptful_Core</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </receiptful_setup>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <receiptful>
                                            <title>Store Receiptful Module Section</title>
                                        </receiptful>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <sales_order_invoice_pay>
                <observers>
                    <Receiptful_Core_Create_Receipt>
                        <type>singleton</type>
                        <class>Receiptful_Core_Model_Observer</class>
                        <method>createReceipt</method>
                    </Receiptful_Core_Create_Receipt>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </adminhtml>
</config>
